.section_1, .section_2, .section_4, .section_5, .section_7, .section6_area2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    padding: 2% 6% 0px 6%;
}

.section_1 img {
    width: 17%;
}

.section_1 {
    align-items: center;
    font-size: 12px;
    justify-content: space-around;
}

.inline-block {
    display: inline-block;
    margin-left: 45px;
}