body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0px 402px;
}

.header {
    background-color: #EEEFF1;
    height: 100vh;
}

.header-line {
    padding-top: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;

    margin-right: 42px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #3467a5;
}

.header-info {
    margin-top: 257px;
}

.design-and-werst {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
}

.lorem-ipsum {
    margin-top: 60px;
    color: #727272;
    font-size: 16px;
    width: 540px;
}

.header-btn {
    margin-top: 85px;
}

.header-button {
    background-color: #34547A;
    padding: 25px 41px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    letter-spacing: 0.1em;

    transition: background-color 0.2s linear;
}

.header-button:hover {
    background-color: #182f4d;
}

.header-down {
    display: flex;
    justify-content: space-between;
}

.header-frame {
    margin-top: 278px;
    position: relative;
}

.about-me-prime {
    margin-top: 119px;
}

.about-me-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px; 
    text-align: center; 
    padding-bottom: 100px; 
}

.lorem-ipsum-2 {
    margin-top: 50px;
    color: #727272;
    font-size: 16px;
    text-align: center;
    width: 50%;
    padding-left: 25%;
}

.my-projects {
    background-color: #34547A;
}

.imgs-projects {
    display: flex;
    justify-content: space-evenly;
}

.imgs-projects img {
    margin-top: 109px;
    margin-bottom: 113px;
    width: 12.5%;
}

.my-skills-prime {
    display: flex;
    justify-content: space-between;
}

.skills {
    margin-top: 204px;
}

.my-skills-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px; 
    color: #000000;
}

.photoshop-text {
    color: #727272;
    margin-top: 54px;
    font-size: 16px;
    font-weight: 400;
}

.person-img {
    margin-bottom: 101px;
    margin-top: 102px;
    width: 555px;
    height: 450px;
}