.section_1, .section_2, .section_4, .section_5, .section_7, .section6_area2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    padding: 2% 6% 0px 6%;
}

.section_1 img {
    width: 80%;
}

.section_1 {
    align-items: center;
    justify-content: space-around;
}

.inline-block {
    display: inline-block;
    margin-right: 45px;
}

@media (max-width: 767px){
    .section-1 {
        flex-direction: column;
        align-items: center;
    }
    .section-1 > div {
        margin-bottom: 10px;
    }
    .section-1 div span:first-child {
        margin-left: 0;
    }
    .section5-area {
        width: 50%;
    }
}